
#masthead {
  background-image: url("../images/bg-masthead.jpg");
  height: 100vh;
  /* opacity: 0.7; */
  /* background-color: #f4623a; */
  /* background: -webkit-gradient(linear, left top, left bottom, from(rgba(223, 151, 101, 0.8)), to(rgba(240, 182, 143, 0.8))), url("../images/bg-masthead.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

#mainhead {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#img-container {
  padding-left: 190px;
  padding-top: 12%;
}

#auth-image { 
    height: 300px;
    width: 300px;
    border: solid;
    }

#about-container {
  padding-right: 200px;
  padding-top: 12%;
}

#about-btn-row {
  padding-top: 2%;
}

#contact {
    margin-top: 100px;
   
}
/* 
#aboutBtn { 
  border-radius: 50%;
} */


