nav {
    color: blanchedalmond;
}
 p {
    color: aliceblue;
 }


#auth-image { 
    float: left;
    height: 300px;
    width: 300px;
    border: solid;
    }

#contact {
    margin-top: 100px;
   
}

#contact-footer {
    height: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#portfolio-head {
    margin-top: 100px;
}